span.MuiImageBackdrop-root.css-1p4evgx {
    margin-left: 10px;
}

.MuiBox-root.css-13t4l7t {
    margin-top: 160px;
    justify-content: center;
}

span.MuiTypography-root.MuiTypography-subtitle1.css-97e7ai-MuiTypography-root {
    font-size: 31px;
    font-family: fangsong;
}